html, body {height: 100%;}
ul, li {margin: 0; padding: 0;}

body {
display: grid;
grid-template-columns: 20% auto 20%;
grid-template-rows: minmax(120px, 13%) 100px 20px auto 100px;
background-color: #646464;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
 grid-column: 2 / 3;
 grid-row: 1 / 2;
 justify-self: center;
 margin-block-start: 0;
}

.title {
    font-size: 5em;
    color: white;
    text-shadow: 4px 3px 0 rgba(37, 36, 36, 0.781);
}

.main-top, .main-top-separator, .main {
    border-color: gray;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
}

.main-top {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #f34949;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: grid;
    justify-content: space-around;
    grid-template-rows: 1fr;
}

.main-top svg {
    width: 30px;
    margin-top: -41px;
}

svg.right {grid-column: 1/2;}

svg.left {grid-column: 2/3;}

.main-top-separator {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: rgb(189, 189, 189);

}

.main {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h2 {
    width: 70%;
    color: #f34949;
}

.main .add-task {
    width: 70%;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .add-task .addTodoTextInput {
    height: 25px;
    width: 100%;
    padding: 0.3em 0.5em;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #ccc;
}

.main .add-task i {
    color:#f34949;
    font-size: 2.5em;
    margin-right: 0.4em;
    cursor: pointer;
    transition: color 0.3s, -webkit-transform .3s ease-in-out;
}

.main .add-task i:hover {
    transform: rotate(90deg);
    color: rgb(56, 126, 35);
}

.main .check-all {
    width: 70%;
    display: flex;
    align-items: center;
}

.main .check-all i fa-trash-alt{
    margin-left: auto;
}

.main ul { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main li {
    display: flex;
    align-items: center;
    width: 70%;
    background-color: #f0f0f0;
    padding: 0.4em 1em;
    margin-top: 0.4em;
    border-radius: 10em;
}

.main li:hover {
    background-color: #e0e0e0;
}

.main ul li i, .main .check-all i {
    font-size: 25px;
    color: gray;
    margin-left: auto;
    cursor: pointer;
}
.main ul li i:hover, .main .check-all i:hover {
    color: #f34949;
}